 <ion-modal-view>
     <div class="bar bar-header " style="background-color: transparent;background-image: none !important; ">
  <button class="button" style="background-color: transparent;"></button>

  <h1 id="neon" class="title">About</h1>
   <button class="button button-clear icon ion-close-round " id="neon" ng-click="helpModal.hide()"></button>
</div>
    <ion-content style="background-color: #222;">
<div style="height:56px;"></div>

   <ion-item class="item item-text-wrap item-borderless" style="background-color: transparent;" id="neon">

<h1 id="neon">Instruction</h1>

   Touching from 1 to infinity as fast as you can within the time limit!!
   </ion-item>


    <ion-item class="item item-text-wrap item-borderless" style="background-color: transparent;" id="neon">
<h1 id="neon">Time Limit</h1>

    Standard Challenge: Time Limit is 2 Minute.

   </ion-item> <ion-item class="item item-text-wrap item-borderless" style="background-color: transparent;" id="neon">


   Grand Challenge: Time Limit is 4 Minutes.
   </ion-item><ion-item class="item item-text-wrap item-borderless" style="background-color: transparent;" id="neon">


   Custom Challenge: Time Limit is set by you.
   </ion-item>


      <ion-item class="item item-text-wrap item-borderless" style="background-color: transparent;" id="neon">
<h1 id="neon">Creator</h1>

   King and Kenny - two bored computing students.

    </ion-content>
  </ion-modal-view>